<!DOCTYPE HTML>	

<html lang="fr">
	<head>
		{% block stylesheets %}
		<title>{% block title %}{% endblock %}</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8">
		<meta name="description" content="Groupe de innovateurs mauritaniens">
		<meta name="keywords" content="innovrim">
		<meta name="author" content="InnovRIM">

		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
		<link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
		{% endblock %}
	</head>
	<!-- Header -->
	<header id="header">
		<h1 id="logo"><a href="{{ path('sdz_blog_homepage') }}"><h1 id="logo"><img src="{{ asset('images/logo_ip.png') }}" alt="" /></a></h1></a></h1>
		<nav id="nav">
			<ul>
				<li class="current"><a href="{{ path('sdz_blog_homepage') }}">Accueil</a></li>
				<li class="submenu">
					<a href="#">InnovRIM</a>
					<ul>
						<li class="current"><a href="{{ path('sdz_blog_suiteip') }}">Qui sommes-nous</a></li>
						<li class="submenu">
							<a href="{{ path('sdz_blog_contextsahel') }}">Sahel Fablab</a>

						</li>
						<li class="submenu">
							<a href="{{ path('sdz_blog_ftic') }}">Femmes & TICs</a>

						</li>
						<li><a href="{{ path('sdz_blog_osm') }}">OSM Mauritanie</a></li>
						<li><a href="{{ path('sdz_blog_jerry') }}">Jerry Clan Mauritanie</a></li>
						<li><a href="#">Sahel Droid</a></li>
					</ul>
				</li>
				<li><a href="#">Evenements</a></li>
				<li><a href="#">Activités</a></li>
				<li><a href="#">Formation</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#" class="button special">Se connecter</a></li>
			</ul>
		</nav>
	</header>
			
		{% block sdz_blog_main%}
		
		{% endblock %}	

		{% block javascripts %}
		<!-- Scripts -->
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.scrollgress.min.js') }}"></script>
			<script src="{{ asset('assets/js/skel.min.js') }}"></script>
			<script src="{{ asset('assets/js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ asset('assets/js/main.js') }}"></script>
			
		{% endblock %}
		
		
	
	
</html>










