<!DOCTYPE HTML>	

<html lang="fr">
	<head>
		{% block stylesheets %}
		<title>{% block title %}{% endblock %}</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8">
		<meta name="description" content="Groupe de innovateurs mauritaniens">
		<meta name="keywords" content="innovrim">
		<meta name="author" content="InnovRIM">
		
		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
		<link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
		{% endblock %}
	</head>
			
		{% block sdz_blog_main%}
		
		{% endblock %}	

		{% block javascripts %}
		<!-- Scripts -->
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.scrollgress.min.js') }}"></script>
			<script src="{{ asset('assets/js/skel.min.js') }}"></script>
			<script src="{{ asset('assets/js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ asset('assets/js/main.js') }}"></script>
			
		{% endblock %}
		
		
	
	
</html>










