{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}Ajouter - {{ parent() }} {% endblock %}

{% block contentmenu %}
<div id="slide" class="box-shadow">		
     <div class="slider">
	  <ul class="items">
		<li> <img src="{{ asset('img/sfl12.png') }}" ><div class="banner">;</div> </li>
		<li> <img src="{{ asset('img/fb2.png') }}" ><div class="banner">;</div> </li>
		<li> <img src="{{ asset('img/o1.png') }}" ><div class="banner">;</div> </li>
		<li> <img src="{{ asset('img/j1.png') }}" ><div class="banner">;</div> </li>
		<li> <img src="{{ asset('img/sfl6.png') }}" ><div class="banner">;</div> </li>
	 </ul>
	</div>
</div>
<br/>
		<span id="responsiveFlag"></span>
	<div class="block-slogan">
		  <h2>Bienvenue!</h2>
	    <div>
			<p><a href="#"  target="_blank" class="link-1">IP Mauritanie</a> (Innov RIM) est né à Lomé pendant le forum Innov Africa édition 6 initié par <a href="http://imaginationforpeople.org"  target="_blank" class="link-1">imagination for people </a>. Innov Africa est un évènement pour la mise en réseau des porteurs d'initiatives sur les usages innovants au Sud en  matière de technologies et d'innovation sociale pour le développement...<a href="#"  target="_blank" class="link-1">lire la suite</a> </p>
		</div>
		{#
		<p >
La finalité du forum est d'initier des projets de transformation sociale. 
</p>

<p >
Imagination for people aide les communautés engagées et les innovateurs sociaux à inventer les idées et réaliser 
les projets d’un monde plus collaboratif et responsable. 
</p>
IP Mauritanie est une branche d’Imagination for people au niveau de la Mauritanie
</p>
			
#}
	</div>
		<br/>		
{% endblock %}

{% block sdz_blog_menu_g %}
	<dl id="menuv">
		<dt class="styleOutMenu" class="fil"><a href="{{ path('sdz_blog_homepage') }}"><h3 class="lien">InnovRIM</h3></a></dt>
		<dt class="styleOutMenu" class="fil"><a href="{{ path('sdz_blog_events') }}"><h3 class="lien">Evénements</h3></a></dt>
		<dt class="styleOutMenu" class="fil"><a href="{{ path('sdz_blog_avenir') }}"><h3 class="lien">A venir</h3></a></dt>
	</dl>
{% endblock %}

{% block sdz_blog_body %}
<div>
<br><br>
<h2>Innov RIM</h2>
</div>
<p>Le Groupe des innovateurs en Mauritanie (IP Mauritanie)</p>
<hr/>
	<h2>Ajouter un article</h2>
	
{% include "SdzBlogBundle:Blog:formulaire.html.twig" %}

	<p>
		Attention : cet article sera ajouté directement
		sur la page d'accueil après validation du formulaire.
	</p>
	
{% endblock %}
