{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Evénements {% endblock %}


{% block sdz_blog_header %}
<body class="left-sidebar">
		<div id="page-wrapper">
	<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ path('sdz_blog_homepage') }}"><h1 id="logo"><img src="{{ asset('images/logo_ip.png') }}" alt="" /></a></h1></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{{ path('sdz_blog_homepage') }}">Accueil</a></li>
							<li class="submenu">
								<a href="#">InnovRIM</a>
								<ul>
									<li class="current"><a href="{{ path('sdz_blog_suiteip') }}">Qui sommes-nous</a></li>
									<li class="submenu">
										<a href="{{ path('sdz_blog_contextsahel') }}">Sahel Fablab</a>
										
									</li>
									<li class="submenu">
										<a href="{{ path('sdz_blog_ftic') }}">Femmes & TICs</a>
										
									</li>
									<li><a href="{{ path('sdz_blog_osm') }}">OSM Mauritanie</a></li>
									<li><a href="{{ path('sdz_blog_jerry') }}">Jerry Clan Mauritanie</a></li>
									<li><a href="#">Sahel Droid</a></li>
								</ul>
							</li>
							<li><a href="#">Evenements</a></li>
							<li><a href="#">Activités</a></li>
							<li><a href="#">Formation</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#" class="button special">Se connecter</a></li>
						</ul>
					</nav>
				</header>
</div>
</div>

{% endblock %}

{% block sdz_blog_body %}
<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-spinner"></span>
						<h2><strong>INNOV</strong>RIM</h2>
						<p>Groupe des innovateurs en Mauritanie</p>
					</header>

					<!-- One -->
						<section class="wrapper style1 container">

							<div class="row 150%">
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<a href="#" class="image featured"><img src="{{ asset('images/ftic.jpg') }}" alt="" /></a>
												<header>
													<h3><strong>Femmes & TIC </strong></h3>
												</header>
												<p>Projet d’innovation des Femmes dans le domaine des TIC (Technologie de l’information et de la communication).</p>
												<footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Plus de détails</a></li>
													</ul>
												</footer>
											</section>

											
										</div>

								</div>
								<div class="8u 12u(narrower) important(narrower)">
									<div class="content">
										<section>
											<a href="#" class="image featured"><img src="{{ asset('images/pic05.jpg') }}" alt="" /></a>
											<h2><strong>Femmes & TIC</strong> Mauritanie </h2>
											Réseaux international des femmes dans les TICs
											<hr/>
										
											<h3>Initier les femmes à s'approprier des nouvelles technologies :</h3><br/><br/>
											<p>
											Femmes & TIC offre une Formation en bureautique pour des jeune filles motivées pretes à se lancer dans la 
											découverte des nouvelles méthodes techniques offertes par la technologie de l'information et de la communication. 
											</p>
										</section>
									</div>
								</div>
								</div>
						</section>

					<!-- 
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>
		-->
				</article>


{% endblock %}


{% block sdz_blog_footer %}

<!-- Footer -->
<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://web.facebook.com/InnovRIM-1511710212447531/?ref=aymt_homepage_panel" class="icon circle fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
						<li><a href="https://plus.google.com/u/0/103900754443092658839/posts" class="icon circle fa-google-plus" target="blank"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-youtube"><span class="label" target="blank">Youtube</span></a></li>
						<li><a href="#" class="icon circle fa-yahoo"><span class="label" target="blank">Yahoo</span></a></li>
					</ul>

					<ul class="copyright">
						Copyright<li>&copy; 2015 InnovRIM</li><li>Designed by: <a href="{{ path('sdz_blog_homepage') }}">InnovRIM</a></li>
					</ul>

				</footer>

{% endblock %}