{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Jerry Clan {% endblock %}

{% block contentmenu %}
			<table> 
			<tr>
				<td width="300"><img src="{{ asset('img/slide-1.jpg') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/slide-1.jpg') }}" /><h2>INSIDE JERRY</h2></li>
						<li><img src="{{ asset('img/slide-1.jpg') }}" /><h2>COME WITH ME JERRY</h2></li>
						<li><img src="{{ asset('img/slide-1.jpg') }}" /><h2>ALL YOU NEED TO DO A JERRY</h2></li>
						<li><img src="{{ asset('img/slide-1.jpg') }}" /><h2>COME WITH ME JERRY</h2></li>
					</ul>	
				</td>
			</tr>
			</table>
{% endblock %}

{% block sdz_blog_menu_g %}

	<dl id="menuv">
		<dt class="styleOutMenu"><a href="{{ path('sdz_blog_quiestjerry') }}">------</a></dt>
		<dt class="styleOutMenu"><a href="{{ path('sdz_blog_objetjerry') }}">-------</a></dt>
	</dl>
{% endblock %}


{% block sdz_blog_body %}
<div class="block-slogan">
<h2>Mauritanie Mobile (IP RIM)</h2>
</div>
<b>Project d’innovations dans la création d'Applications Mobiles</b>

<hr/>

{% endblock %}

{% block sdz_blog_menu_d %}
<div class="block-slogan">
        <h2 class="indent-2">Contacts</h2>
		<div class="grid_6 push_1">
            <address>
              <dl>
                  <dt>Immeuble El MAMI , <br>
Nouakchott, Mauritanie</dt>
                  <dd><span>Mobile:</span>+222 48 52 61 05</dd>
                  <dd><span>Telephone:</span>+222 .. .. .. ..</dd>
                  <dd><span>FAX:</span>+222 .. .. .. ..</dd>
                  <dd>E-mail: <a href="{{ asset('mailto:innovrim@gmail.com') }}">innovrim@gmail.com</a></dd>
              </dl>
           </address>
		</div>
</div>
{% endblock %}
