	<table> 
			<tr>
				<td width="300"><img src="{{ asset('img/osm.jpg') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/o0.png') }}" /><h3>CARTOGRAPHIE NUMERIQUE</h3></li>
						<li><img src="{{ asset('img/o1.png') }}" /><h3>CARTOGRAPHIE NUMERIQUE</h3></li>
						<li><img src="{{ asset('img/o2.png') }}" /><h3>CARTOGRAPHIE NUMERIQUE</h3></li>	
						<li><img src="{{ asset('img/o3.png') }}" /><h3>CARTOGRAPHIE NUMERIQUE</h3></li>			
					</ul>	
				</td>
			</tr>
			</table>
			<br/>
			<br/>
			<br/>
