<table> 
			<tr>
				<td width="300"><img class="logo" src="{{ asset('img/fablab.png') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/j0.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j1.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j2.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j3.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j4.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j5.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j6.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j7.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j8.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j9.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
						<li><img src="{{ asset('img/j10.png') }}" /><h3>JERRY CLAN MAURITANIE</h3></li>
					</ul>	
				</td>
			</tr>
			</table>
			<br/>
			<br/>
			<br/>
