<table> 
			<tr>
				<td width="300"><img src="{{ asset('img/ftic.jpg') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/1.png') }}" /><h3>FEMMES & TICS</h3></li>
						<li><img src="{{ asset('img/2.png') }}" /><h3>FEMMES & TICS</h3></li>
						<li><img src="{{ asset('img/3.png') }}" /><h3>FEMMES & TICS</h3></li>
						<li><img src="{{ asset('img/4.png') }}" /><h3>FEMMES & TICS</h3></li>
					</ul>	
				</td>
			</tr>
			</table>
			<br/>
			<br/>
			<br/>
