	<table> 
			<tr>
				<td width="300"><img src="{{ asset('img/sante.jpg') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/s1.png') }}" /><h3>SAHELDROID</h3></li>
						<li><img src="{{ asset('img/s2.png') }}" /><h3>SAHELDROID</h3></li>
						<li><img src="{{ asset('img/s3.png') }}" /><h3>SAHELDROID</h3></li>
						<li><img src="{{ asset('img/s4.png') }}" /><h3>SAHELDROID</h3></li>
					</ul>	
				</td>
			</tr>
			</table>
			<br/>
			<br/>
			<br/>
