
			<table> 
			<tr>
				<td width="300"><img src="{{ asset('img/fablab.png') }}" /></td>
				<td>
					<ul class="bxslider">
						<li><img src="{{ asset('img/sfl/sfl3.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl6.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl7.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl8.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl9.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl10.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl11.png') }}" /><h3>SAHELFABLAB</h3></li>
						<li><img src="{{ asset('img/sfl/sfl12.png') }}" /><h3>SAHELFABLAB</h3></li>


					</ul>	
				</td>
			</tr>
			</table>
<br/>
<br/>
<br/>
