{# src/Sdz/BlogBundle/Resources/views/Blog/article.html.twig #}

{# On utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définie #}

{% set pagearticle = pagearticle|default(false) %}

	{# On vérifie qu'une image est bien associée à l'article #}
	{% if article.image is not null %}
	<h3><a href="{{ path('sdz_blog_voir', {'id': article.id} ) }}">{{ article.titre }}</a></h3>
	<time class="date-1">{{ article.date|date('d/m/Y') }}</time>
	<div class="name-author">par <a href="#">{{ article.auteur }}.</a></div>
	<div class="clear"></div>
	<img width="650" height="450" src="{{ asset(article.image.uploadDir ~ '/' ~ article.image.id ~ '.' ~ article.image.url) }}" alt="{{ article.image.alt }}" />	
	<p>
			{{ article.contenu }}
	</p>
	<br/>
	{% endif %}

{# On affiche les catégories éventuelles #}
{% if article.categories.count > 0 %}

	{#
	<div class="well well-small">
	
			<i>Catégories :
				{% for categorie in article.categories %}
					{{ categorie.nom }}{% if not loop.last %}, {% endif %}
				{% endfor %}
		   </i>
	
	</div>
	#}
{% endif %}





