{# src/Sdz/BlogBundle/Resources/views/Blog/events.html.twig #}

{# On utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définie #}

{% set pageevents= pageevents|default(false) %}

	{# On vérifie qu'une image est bien associée à l'article #}
	{% if events.imageEvents is not null %}
	<h3><a href="{{ path('sdz_blog_voirevents', {'id': events.id} ) }}">{{ events.titre }}</a></h3>     
    <time class="date-1">{{ events.date|date('d/m/Y') }}</time>
    <div class="name-author">par <a href="#">{{ events.auteur }}.</a></div>
	<div class="clear"></div>
	<img width="650" height="450" src="{{ asset(events.imageEvents.uploadDir ~ '/' ~ events.imageEvents.id ~ '.' ~ events.imageEvents.url) }}" alt="{{ events.imageEvents.alt }}" />
	<br/><p>	{{ events.contenu }}</p>
	<br/>
	{% endif %}
	

{# On affiche les catégories éventuelles #}
{% if events.categories.count > 0 %}

	{#
	<div class="well well-small">
	
			<i>Catégories :
				{% for categorie in events.categories %}
					{{ events.nom }}{% if not loop.last %}, {% endif %}
				{% endfor %}
		   </i>
	
	</div>
	#}
{% endif %}





