{% extends "::layout.html.twig" %}
{# Dans notre layout, il faut définir le block body #}

{% block sdz_blog_header %}
<body class="no-sidebar">
		<div id="page-wrapper">
	<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ path('sdz_blog_homepage') }}"><h1 id="logo"><img src="{{ asset('images/logo_ip.png') }}" alt="" /></a></h1></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{{ path('sdz_blog_homepage') }}">Welcome</a></li>
							<li class="submenu">
								<a href="#">Menu</a>
								<ul>
									<li class="submenu">
										<a href="{{ path('sdz_blog_suiteip') }}">Qui sommes-nous</a>
										<ul>
											<li><a href="{{ path('sdz_blog_events') }}">Evénements</a></li>
											<li><a href="{{ path('sdz_blog_avenir') }}">A venir</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="{{ path('sdz_blog_ftic') }}">Femmes & TICs</a>
										<ul>
											<li><a href="{{ path('sdz_blog_actftic') }}">Evénements</a></li>
											<li><a href="{{ path('sdz_blog_article') }}">Activités</a></li>
											<li><a href="{{ path('sdz_blog_fbureau') }}">Formation</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="{{ path('sdz_blog_contextsahel') }}">Sahel Fablab</a>
										<ul>
											<li><a href="{{ path('sdz_blog_equipe') }}">L'equipe</a></li>
											<li><a href="#">Ateliers</a></li>
										</ul>
									</li>
									<li><a href="{{ path('sdz_blog_osm') }}">OSM Mauritanie</a></li>
									<li><a href="{{ path('sdz_blog_jerry') }}">Jerry Clan Mauritanie</a></li>
									<li><a href="#">Sahel Droid</a></li>
									<li><a href="{{ path('sdz_blog_contact') }}">Contact</a></li>
									
								</ul>
							</li>
							<li><a href="{{ path('fos_user_security_login') }}" class="button special">Se connecter</a></li>
						</ul>
					</nav>
				</header>
</div>
</div>
{% endblock %}

{% block sdz_blog_body %}
<article id="main">

					<header class="special container">
						<span class="icon fa-laptop"></span>
						<h2><strong>Innov</strong>RIM</h2>
						<p>Groupe des innovateurs en Mauritanie</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
									
										<div >
												  <h2>Saisir les informations nécessaires</h2>
										</div>
											{% for key, message in app.session.flashbag.all() %}
												<div class="alert alert-{{ key }}">
												{{ message|trans({}, 'FOSUserBundle') }}
													
												</div>
											{% endfor %}
											
											{# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
											
											{% block fos_user_content %}
											{% endblock fos_user_content %}
								</div>
						</section>
</article>
{% endblock %}
										
					
